// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-black-40: rgba(0, 0, 0, 0.4);
$color-melrose: #B4A9FF;
$color-bittersweet: #FF7575;
$color-cape-cod: #393B3C;
$color-button-blue: #67A5EB;
$color-button-fiord: #45526E;
$color-button-grey: #747474;
$color-heliotrope: #DC5DFC;
$color-rate-yellow: #A59400;
$color-rate-green: #308E21;
$color-rate-grey: #777777;
$color-rate-red: #C82020;


// Typography
$ff-main: "PTSans", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in-out 0.3s;