@use "../../../styles/helpers" as *;

.search-modal {
  position: absolute;
  top: 67px;
  right: 0;
  width: 559px;
  padding: 8px;
  background-color: $color-cape-cod;
  border-radius: 8px;
  z-index: 2;

  @media (max-width: 1080px) {
    left: 0;
    right: auto;
  }

  @media (max-width: 840px) {
    top: 100px;
    left: 0;
    width: 100%;
  }


  &__box {
    @media (max-width: 840px) {
      display: flex;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__message {
    color: #fff;
    margin: 10px 0 30px;
    font-size: 24px;
    line-height: 32px;
  }
}