@use "../../../styles/helpers" as *;

.button {
  padding: 16px;
  border: none;
  border-radius: 28px;
  outline: none;
  width: 100%;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $color-white;

  cursor: pointer;

  path {
    fill: currentColor;
  }

  transition: background-color $transition-300,
  color $transition-300;

  &:disabled {
    cursor: default;
  }

  &--primary {
    background-color: $color-button-blue;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      color: $color-black;
      background-color: $color-white;
    }

    &:disabled {
      color: $color-white-50;
      background-color: $color-button-fiord;
    }
  }

  &--secondary {
    background-color: $color-cape-cod;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
      color: $color-melrose;
    }

    &:disabled {
      color: $color-white-50;
      background-color: $color-button-grey;
    }
  }
}