@use "../../styles/helpers" as *;

.movie-list {
  &__title {
    margin: 0 0 64px;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;

    @media (max-width: 550px) {
      margin-bottom: 28px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 1340px) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
}